<p id="notice"><%= notice %></p>
<% render 'error_messages' %>
<p>
  <b>Username:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<ul>
<% @stories.each do |story| %>
  <li>
    <%= link_to story.title, story_path(story) %>

    </li>
  <% end %>

</ul>

<%= link_to 'Submit New Link', new_story_path %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', user_path %>
