<h1>Newest Stories</h1>
<br/>

<ul>
<% @stories.each do |story| %>
  <li>
    <%= link_to story.title, story_path(story) %>
    </li>
  <% end %>

</ul>
Your story count: <%= @stories.length %>

<br/>
<%= link_to 'Submit New Link', new_story_path %>
<%= paginate @stories %>


<%= flash %>


