<h1>Hacker News (Clone) Stories </h1>

<ul>
<% @stories.each do |story| %>
  <li>
    <%= link_to story.title, story_path(story) %>
    <%= story.created_at%>
    <%= @stories.length %>

    </li>
  <% end %>
  <%= @stories.length %>

</ul>
<%= @stories.length %>


<%= link_to 'Submit New Link', new_story_path %>
<%= paginate @stories %>




