<h1>Hacker News Clone</h1>

<p>
      <%= link_to @story.title, story_path() %>
  <br/>
      <%= @story.created_at%>
  <br/>
      <%= @story.body %>
  <br/>
</p>

<%= button_to 'Edit Link', { :controller => :stories, :action => 'edit', :id => @story.id}, :method => :get%>

<%= button_to "Delete Story", { :controller => :stories, :action => 'destroy', :id => @story.id}, :method => :delete %>

<%= link_to 'Submit New Link', new_story_path %>
<br/>
<br/>

